@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&family=Playwrite+AU+QLD:wght@100..400&family=Quicksand:wght@300..700&family=Yanone+Kaffeesatz:wght@200..700&display=swap");
/* 
.fonts{
  font-family: "Quicksand", sans-serif;
  font-family: "Playwrite AU QLD", cursive;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Orbitron", sans-serif;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-family: "Advent Pro", sans-serif;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

/* gsap */
.char {
  display: inline-block;
  transform: translateY(100px);
  /* opacity: 0; */
}

body {
  font-family: "Quicksand", sans-serif;
  position: relative;
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0px 20px;
}

.header {
  margin-top: 20px;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 300;
  background-color: black;
  border-radius: 10px;
  height: 50px;
  width: 100%;

  a {
    padding-left: 20px;
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: underline;
  }

  .fa-xmark {
    position: absolute;
    right: 15px;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.245);
  }
}

.display {
  display: none;
}

.container{
  top: 70px;
  position: absolute;

}

.section{
  margin: 16px;
  height: 100vh;
  width: calc(100vw - 60px);
  border-radius: 20px;
  /* border: 2px red solid; */
}

.section-1 {
  height: calc(100vh - 186px);
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.163); */
  
}

nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0 60px;
  margin-top: 20px;
  /* border: 2px solid blue; */

  .brand-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 50px;
    font-weight: 600;
    /* border: 2px solid blue; */

    .fa-s {
      /* border: 2px solid blue; */
      font-size: 50px;
      margin-right: 10px;
    }
  }

  ul {
    display: flex;
    list-style: none;

    li {
      margin: 0 32px;

      a {
        text-decoration: none;
        color: black;
        font-family: "Quicksand", sans-serif;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
}

.section-1 .overlay{
  z-index: -999;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* border: 2px solid red; */

  background: linear-gradient(to top, #ffffff, #ffffff,#ffffff);

}

.menu {
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    color: black;
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-right: 20px;

    &:hover {
      text-decoration: underline;
    }
  }

  .fa-bars {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.195);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    font-size: 36px;
    cursor: pointer;
  }
}

.home {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  /* border: 2px solid red; */

  .main {
    font-family: "quicksand", sans-serif;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 2px solid blue; */

    .rating {
      position: absolute;
      top: 180px;
      left: 85px;
      height: auto;
      /* border: 2px solid red; */
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;

      .fa-star {
        color: rgb(255, 187, 0);
      }

      p {
        font-weight: 700;
      }

      span {
        font-weight: 300;
      }
    }

    .main-text{
      /* border: 2px solid red; */
      margin-top: 200px;
      margin-bottom: 0;
      margin-left: 72px;
    }

    h1 {
      margin-bottom: 50px;
      font-family: "Orbitron", sans-serif;
      font-size: 7.5rem;
      text-transform: uppercase;
      line-height: 6rem;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .input-area {
      left: 72px;
      bottom: 64px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      label {
        font-size: 24px;
        font-weight: 600;
        margin-left: 10px;
        margin-bottom: 16px;
      }

      input {
        height: 64px;
        width: 512px;
        border-radius: 30px;
      }

      input::placeholder {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 500;
        padding-left: 20px;
      }
      button {
        all: unset;
        padding: 0px 32px;
        border-radius: 30px;
        border: 2px solid black;
        font-size: 20px;
        font-weight: 600;
        font-family: "Quicksand", sans-serif;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 60px;
        color: white;
        background-color: black;
        transition: 0.3s ease all;

        
      }
      button:hover{
        cursor: pointer;
        color: black;
        background-color: rgba(7, 7, 7, 0.322);
        
      }
    }
  }

  .images {
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blueviolet; */

    .image{
      position: absolute;
      /* border: 2px solid violet; */
      /* height: 500px;
      width: 500px; */
      border-radius: 20px;
      
      img{
        padding: 16px;
        height: 100%;
        width: 100%;
        overflow: hidden;
        object-fit: contain;
        box-shadow:5px 5px 20px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
         
      }
    }

    .img-div1{
      height: 400px;
      width: 400px;
      top: 7rem;
      left: 1rem;
      background-color: #ffffff;
    }
    .img-div2{
      height: 400px;
      width: 400px;
      z-index: 99;
      background-color: #ffffff;
      bottom: 10rem;
      right: 5rem;
    }
  }
}


.section-2{
  background-color: black;
  color: white;
  display:flex;
  justify-content: space-between;
  align-items: center;
  
}
